.ripple-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    cursor: none;
    z-index: -9999;
    overflow: hidden;
    background: transparent; 
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 8%);
    padding: 2.5rem 0rem;
    position: fixed;
    top: 0;
    left: 4%;
    z-index: 1;
    // background: #fff;
    font-size: 18px;
}

.heroFold {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    .heroText {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        width: 100%;
        h1 {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            flex-direction: column;
            width: 100%;
            text-transform: uppercase;
            span {
                font-family: 'display';
                line-height: 1;
            }
        }
    }
}

.descSection {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin: 2rem 0;
    position: relative;
    p {
        width: 48%;
        margin-right: 8%;
        margin-bottom: 5rem;
        font-size: clamp(1rem, 3.375vw, 2rem)
    }
}

.projectSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #0505AF;
    border-left: none;
    border-right: none;
    .projectCard {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
        margin: 5rem 0rem;
        .featuredImg {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            img {
                width: 66.347vw;
            }
        }
        h2 {
            position: absolute;
            bottom: 24%;
            right: 0%;

        }
    }
}

.projectSection:last-child {
    margin-bottom: 10rem;
}


@media screen and (max-width: 800px) {
    h1 {
        font-size: 9vw;
    }

    .header {
        font-size: 14px !important;
    }

    .heroFold {
        justify-content: flex-start;
        padding-top: 10rem;
        height: auto;
    }

    .descSection p {
        width: 100%;
    }
}